.google-calendar {
    h1 {
        color: color($gray, lighter);
        font-size: 1.5vw;

        span {
            display: block;
            @include font-sans-bold;
            font-size: 2vw;
        }
    }
}

.google-calendar__events {
    color: color($gray, lightest);

    font-size: setting($font-size, s);
}

.google-calendar__status {
    margin-bottom: 1.5vh;
    font-size: 1.5vw;
    // color: color($gray, lightest);

    i {
        display: inline-block;
        margin: 0 0.5vw;
        height: 1.5vw;
        width: 1.5vw;
        border-radius: 50%;
    }

    &.occupied {
        i {
            background: color($red);
        }
    }

    &.available {
        i {
            background: color($green, bright);
        }
    }
}

.google-calendar__event {
    padding-bottom: 1.5vh;
}

.google-calendar__event__title {
    @include font-sans-bold;
    // color: color($gray, darkest);
}
